<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To Do List App</title>
  <link rel="stylesheet" href="../public/style.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div>
    <%- include("../partials/header.ejs") %>
      <div class=" mb-10 lg:p-6">
        <div class="mt-10">
          <form action="/task/new" method="post" class="flex justify-center flex-col items-center my-4 lg:my-8 space-y-4 lg:space-y-8">
            <input type="text" name="title" id="" placeholder="Enter Title"
              class="w-8/12 py-2 px-2 bg-gray-200 outline-none">
            <textarea name="description" id="" cols="30" rows="5" placeholder="Enter Description"
              class="w-8/12 py-2 px-2 bg-gray-200 outline-none resize-none"></textarea>
            <div class="">
              <input type="submit" value="Add Task" class="bg-gray-500 text-white px-2 py-1 cursor-pointer">
            </div>
          </form>
          <form action="/task/clearAll" method="post" class="flex justify-center items-center mb-4 lg:mb-10">
            <div class="">
              <input type="submit" value="Clear Task" class="bg-red-500 text-white px-2 py-1 cursor-pointer">
            </div>
          </form>
        </div>

        <div class="table-container flex flex-col justify-center align-center mx-auto w-[90%]">
          <div class="table-head flex bg-gray-800 text-white w-full px-4">
            <div class="w-1/12 p-2 text-sm lg:text-lg font-semibold text-center">NO.</div>
            <div class="w-1/4 p-2 text-sm lg:text-lg font-semibold text-center">TITLE</div>
            <div class="w-1/3 p-2 text-sm lg:text-lg font-semibold text-center">DESCRIPTION</div>
            <div class="w-2/12 p-2 text-sm lg:text-lg font-semibold text-center">DONE</div>
            <div class="w-2/12 p-2 text-sm lg:text-lg font-semibold text-center">ACTION</div>
          </div>
          <% if (allTask.length === 0){ %>
            <h2 class="h-40 lg:h-64 flex justify-center items-center font-bold text-3xl">No data yet</h2>
            <% }else{ %>
              <% allTask.forEach((task, i)=>{ %>
                <div class="table-body flex lg:w-full bg-gray-300 px-4">
                  <div class="w-1/12 p-2 text-sm lg:text-lg text-center">
                    <%= i+1 %>
                  </div>
                  <div class="w-1/4 p-2 text-sm lg:text-lg text-center">
                    <%= task.title %>
                  </div>
                  <div class="w-1/3 p-2 text-sm lg:text-lg text-center">
                    <%= task.description %>
                  </div>
                  <div class="w-2/12 text-center"><input type="checkbox" name="done" id="done" class="h-4 "></div>
                  <div class="w-2/12 p-2 text-sm lg:text-base text-center">
                    <form action="/task/delete/<%=task.id%>" method="post">
                      <button type="submit" class="btn bg-red-500 text-white p-1 min-w-fit">Delete</button>
                    </form>
                  </div>
                </div>
              <% }) %>
          <% } %>
        </div>
      </div>
      <%- include("../partials/footer.ejs") %>
  </div>
</body>

</html>